/*css*/

* { padding: 0; margin: 0; font-family: Arial; outline: none; }
li { list-style: none; }
img { border: none; }
a { text-decoration: none; cursor: pointer; }

body { user-select: none; }
#login { height: 320px; width: 350px; background-color: #b6b3b3; position: absolute; top: 100px; left: 50%; margin-left: -175px; display: block; }
#text1, #text2, #login button { height: 30px; width: 330px; line-height: 30px; }
#text1 { position: absolute; top: 50px; left: 8px; }
#text2 { position: absolute; top: 130px; left: 8px; }
#login button { position: absolute; top: 210px; left: 8px; background-color: #257bdd; text-align: center; 
    border: none; font-size: 12px; color: #ffffff; cursor: pointer; }

#silp { height: 320px; width: 350px; position: absolute; top: 100px; left: 50%; margin-left: -175px; background: #ffffff; display: none; }
.silp_body { position: absolute; top: 0px; left: 0px; }
#silp .img1 { padding-top: 20px; position: absolute; left: 25px; }
#silp .img2 { position: absolute; top: 95px; left: 25px; }
.silp_p { position: absolute; top: 200px; left: 25px; background-color: #e65d5d; font-size: 12px; text-align: center; 
    height: 20px; width: 300px; opacity: 0.7; height: 20px; color: #ffffff; display: none; }
.warp { width: 300px; height: 30px; position: absolute; top: 240px; left: 25px; background: #dfe1e2; border-radius: 20px; } 
.rect { width: 100%; height: 100%; }
.rect p { width: 100%; height: 100%; line-height: 30px; text-align: center; color: #88949d; font-size: 13px; }
.silde { width: 45px; height: 40px; position: absolute; top: -6px; left: 0px; }
.silde img { height: 40px; color: #000; position: absolute; top: 0px; left: 0px; }
.foot { position: absolute; top: 280px; left: 25px; height: 40px; width: 300px; border-top: 1px solid #eeeeee; }
.foot_img1 { position: absolute; top: 10px; left: 10px; cursor: pointer; }
.foot_img2 { position: absolute; top: 10px; left: 40px; cursor: pointer; }
.foot_logo1 { position: absolute; top: -25px; left: 20px; width: 60px; height: 22px; background-color: #5f5f5f;
    text-align: center; display: none; border-radius: 4px; }
.foot_logo1 p { font-size: 12px; color: #ffffff; line-height: 22px; }
.foot_logo1 div { height: 0px; width: 0px; border: 8px solid; border-color: transparent transparent transparent #5f5f5f; 
   position: absolute; top: 14px; left: 0px; }
.foot_logo2 { position: absolute; top: -25px; left: 50px; width: 60px; height: 22px; background-color: #5f5f5f;
    text-align: center; display: none; border-radius: 4px; }
.foot_logo2 p { font-size: 12px; color: #ffffff; line-height: 22px; }
.foot_logo2 div { height: 0px; width: 0px; border: 8px solid; border-color: transparent transparent transparent #5f5f5f; 
   position: absolute; top: 14px; left: 0px; }
 
